{% extends "!layout.html" %}

{% set script_files = script_files + ['_static/dynsite.js', '_static/javascript/theme.js'] %}

{% block breadcrumbs %}
        <div class="row">
            {{ breadcrumbs() }}
            {%- if sourcename and site_url -%}
                <a class="float-right button" href="{{ site_url }}/{{ sourcename[:-4] }}">Edit</a>
                <form action="{{ site_url }}/publish" method="POST" onsubmit="return confirm('Do you really want to publish this site?');">
                    <button type="submit" class="float-right">Publish</button>
                </form>
            {%- endif -%}
        </div>
{% endblock %}
