
@import url("../foundation/css/cards.css");

.social-buttons {
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
}

#content pre, #content .highlight {
  letter-spacing: 0em !important;
}

a.headerlink {
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

input[type="radio"] {
  -moz-appearance: none;
  -webkit-apperance: none;
  apperance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 6px solid black;
}

input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-apperance: none;
  apperance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type="checkbox"]:checked {
  border: 6px solid black;
}

.caret-right {
  position: absolute;
  left: 18px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.caret-down {
  position: absolute;
  left: 18px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
